* {
    padding: 0;
    margin: 0;
}

body {
    margin: auto;
    overflow-x: hidden;
}

.container {
    width: 1688px;
    margin: auto;
}

h1 {
    color: #ffffff;
    font-family: Roboto;
    font-size: 60px;
    font-weight: 100;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
}

header {

    background-image: url(../img/hdbg.png);
    background-repeat: no-repeat;
    background-position-x: center;

    .navlist {

        margin-top: 21px;
        
        a {
            margin-left: 46px;
        }

    }

    a {
        color: #ffffff;
        font-family: Roboto;
        font-size: 18px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        text-align: left;
        letter-spacing: 0.24px;
        text-decoration: none;
    }

    .btnlog {
        color: #5584ff;
        font-family: Roboto;
        font-size: 18px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        text-align: left;
        letter-spacing: 0.24px;
        text-decoration: none;
        border-radius: 24px;
        border: 1px solid rgba(85, 132, 255, 0.3);
        padding: 14px 42px;
    }

    nav {
        display: flex;
        justify-content: space-between;
        padding-top: 67px;
        padding-bottom: 165px;
    }

    .hero {

        h1 {

            line-height: 0;

            span {
                color: #8492af;
                font-family: Roboto;
                font-size: 36px;
                font-weight: 400;
                font-style: normal;
                letter-spacing: normal;
                text-align: center;
                font-style: normal;
                letter-spacing: normal;
                line-height: 131px;
            }

        }

        .btngs {
            color: #ffffff;
            font-family: Roboto;
            font-size: 18px;
            font-weight: 700;
            font-style: normal;
            letter-spacing: normal;
            font-style: normal;
            letter-spacing: 0.24px;
            line-height: normal;
            border-radius: 24px;
            border: 1px solid #5584ff;
            background-color: #5584ff;
            padding: 12px 53px;
            margin-left: 739px;
        }

        .hbg {
            margin-top: 52px;
            padding-bottom: 593px;
        }


    }

    ::before {
        position: absolute;
        background-image: url(../img/herobefore.png);
        background-repeat: no-repeat;
        content: "";
        top: 607px;
        left: 490px;
        width: 1024px;
        height: 692px;
        cursor: default;
    }

}

.featlist {
    display: flex;
    justify-content: space-between;
    margin: 0px 154px;
    margin-top: 262px;
    margin-bottom: 195px;
}

.featlistitem {

    width: 380px;
    padding-top: 133px;

    h3 {
        color: #0e1a35;
        font-family: Roboto;
        font-size: 24px;
        font-weight: 700;
        font-style: normal;
        letter-spacing: normal;
        text-align: center;
        font-style: normal;
        letter-spacing: 0.48px;
        line-height: normal;
    }

    p {
        color: #8492af;
        font-family: Roboto;
        font-size: 18px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        text-align: center;
        font-style: normal;
        letter-spacing: 0.36px;
        line-height: 30px;
        margin-top: 19px;
        margin-bottom: 61px;
    }

    a {
        text-decoration: none;
    }

}

.btnfeat {
    color: #0e1a35;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    font-style: normal;
    letter-spacing: 0.24px;
    line-height: normal;
    border-radius: 24px;
    border: 1px solid rgba(132, 146, 175, 0.3);
    padding: 13px 86px;
    margin-left: 64px;
}

#icon1 {
    background-image: url(../img/icon1.png);
    background-repeat: no-repeat;
    background-position: top center;
}

#icon2 {
    background-image: url(../img/icon2.png);
    background-repeat: no-repeat;
    background-position: top center;
}

#icon3 {
    background-image: url(../img/icon3.png);
    background-repeat: no-repeat;
    background-position: top center;
}

.browser {

    background-color: #f6f7fa;
    padding-top: 97px;
    padding-left: 195px;
    padding-bottom: 276px;

    ::before {
        background-image: url(../img/browserbefore.png);
        background-repeat: no-repeat;
        width: 1306px;
        height: 667px;
        position: absolute;
        content: "";
        top: 1950px;
        left: 884px;
        cursor: default;
    }

    h3 {
        color: #0e1a35;
        font-family: Roboto;
        font-size: 60px;
        font-weight: 100;
        font-style: normal;
        letter-spacing: normal;
        text-align: left;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    p {
        color: #8492af;
        font-family: Roboto;
        font-size: 18px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        text-align: left;
        font-style: normal;
        letter-spacing: normal;
        line-height: 30px;
        padding-top: 28px;
    }

}

.bicon {

    background-image: url(../img/check.png);
    background-repeat: no-repeat;
    background-position: left center;
    margin-top: 55px;
    margin-left: 2px;

    p {
        color: #5584ff;
        font-family: Roboto;
        font-size: 22px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: 30px;
        text-align: left;
        padding: 0;
        margin-left: 45px;
    }

}

#bb2 {
    margin-top: 31px;
}

.drag {

    background-image: url(../img/dragbg.png);
    background-repeat: no-repeat;
    background-position-x: center;

    padding-left: 1083px;
    padding-top: 209px;
    padding-bottom: 194px;
    
    h3 {
        color: #ffffff;
        font-family: Roboto;
        font-size: 60px;
        font-weight: 100;
        font-style: normal;
        letter-spacing: normal;
        text-align: left;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        margin-bottom: 38px;
    }

    p {
        color: #8492af;
        font-family: Roboto;
        font-size: 18px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        text-align: left;
        font-style: normal;
        letter-spacing: normal;
        line-height: 30px;
        margin-left: 5px;
    }

    ::before {
        background-image: url(../img/dragbefore.png);
        background-repeat: no-repeat;
        position: absolute;
        content: "";
        top: 2861px;
        left: 37px;
        width: 972px;
        height: 582px;
        cursor: default;
    }

}

.dragarr {

    margin-top: 49px;
    margin-left: 9px;

    a {
        margin-right: 15px;
    }
}

.price {

    background-color: #f6f7fa;

    h3 {
        color: #0e1a35;
        font-family: Roboto;
        font-size: 60px;
        font-weight: 100;
        font-style: normal;
        letter-spacing: normal;
        line-height: 14.4px;
        text-align: center;
        padding-top: 119px;
    }

    p {
        color: #8492af;
        font-family: Roboto;
        font-size: 18px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: 30px;
        text-align: center;
    }

}

.psdtemplate {
    ::before {
        background-image: url(../img/psdbefore.png);
        background-repeat: no-repeat;
        content: "";
        width: 1390px;
        height: 681px;
        position: absolute;
        top: 3794px;
        left: 237px;
    }
}

.pricelist {

    h3 {
        margin-top: 789px;
    }

}

.priceitem {

    width: 360px;
    background-color: #ffffff;
    padding-bottom: 30px;
    -webkit-box-shadow: 0px 0px 71px -23px rgba(0,0,0,0.65);
    -moz-box-shadow: 0px 0px 71px -23px rgba(0,0,0,0.65);
    box-shadow: 0px 0px 71px -23px rgba(0,0,0,0.65);

    h4 {
        color: #0e1a35;
        font-family: Roboto;
        font-size: 24px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 0.48px;
        padding-top: 43px;
    }

}

.pricelistitem {

    display: flex;
    justify-content: space-between;
    margin: 0px 164px;
    margin-top: 117px;

}

.pricechecklist {

    margin-left: 50px;
    margin-bottom: 12px;

    p {
        color: #8492af;
        font-family: Roboto;
        font-size: 18px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: 0.36px;
        text-align: left;
        margin-top: 0;
        line-height: 28px;
        padding-left: 37px;
    }

}

.pricesymbol {
    color: #0e1a35;
    font-family: Roboto;
    font-size: 40px;
    font-weight: 700;
    font-style: normal;
    text-align: left;
    letter-spacing: 0.44px;
    line-height: normal;
    right: -5px;
    position: relative;
    top: -3px;
}

.pricemon {
    color: #8492af;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
    text-align: left;
    letter-spacing: 0.48px;
    line-height: normal;
}

.pricenum {
    color: #0e1a35;
    font-family: Roboto;
    font-size: 72px;
    font-weight: 700;
    font-style: normal;
    text-align: left;
    letter-spacing: 1.44px;
    line-height: normal;
}

.nomargin {
    margin-top: 35px;
    margin-left: 9px;
    margin-bottom: 38px;
}

#checked {
    background-image: url(../img/check.png);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 24px 24px;
}

#notchecked {
    background-image: url(../img/notchecked.png);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 24px 24px;
}

#margin {
    margin-top: 69px;
}

.btnjn {
    color: #ffffff;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    font-style: normal;
    letter-spacing: 0.24px;
    line-height: normal;
    text-decoration: none;

    border-radius: 24px;
    background-color: #5584ff;

    margin-left: 743px;
    padding: 14px 61px;
}

.join {
    margin-top: 103px;
    padding-bottom: 115px;

    p {
        margin-bottom: 76px;
    }
}

footer {
    background-color: #0e1a35;
    padding: 64px 0;
}

.fline {

    display: flex;
    justify-content: space-between;
    margin-top: 3px;

    p {
        color: #8492af;
        font-family: Roboto;
        font-size: 18px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        text-align: left;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
    }

    a {
        color: #8492af;
        font-family: Roboto;
        font-size: 18px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        text-align: left;
        font-style: normal;
        letter-spacing: 0.36px;
        line-height: normal;
        text-decoration: none;
    }

}

.fcop {
    margin-left: 110px;
}

.fnav {

    margin-left: 798px;

    a {
        margin-right: 36px;
    }

}

.social {

    margin-right: 110px;

    a {
        margin-left: 14px;
    }

}

@media (min-width: 0px) {
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}